@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

<AuthorizeView>
    <Authorized>
        <button title="logout" class="btn btn-danger" @onclick="SignOut"><span class="oi oi-account-logout"></span></button>
    </Authorized>
    <NotAuthorized>
        <button title="login" class="btn btn-primary" @onclick="SignIn"><span class="oi oi-account-login"></span></button>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task SignIn(MouseEventArgs args)
    {
        Navigation.NavigateTo($"authentication/login");
    }

    private async Task SignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo($"authentication/logout");
    }
}