
.chatroom-footer {
    background-color: var(--background);
    border-color: var(--font-color);
    color: var(--font-color);
    margin-bottom: 10px;
}

.chatroom-component {
    height: 300px;
    border-width: 4px;
    border-color: var(--font-color);
    border-style: dashed;
    border-radius: 20px;
    box-shadow: none;
    background-color: var(--background);
    border-color: var(--font-color);
}

.chatroom-messages {
    height: 90%;
    width: 100%;
    overflow-x: hidden;
}

.chatroom-input {
    border-style: none;
    width: 100%;
    border-top-style: dashed;
    border-top-width: 4px;
    border-top-color: var(--font-color);
    padding-top: 5px;
}

.chatroom-textbox {
    padding-left: 5px;
    padding-right: 5px;
    border-style: none;
    background-color: var(--background);
    color: var(--font-color);
}