.page {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.main {
    flex: 1;
}

@media (min-width: 641px) {
    .main > div {
        margin-left: 2rem !important;
        margin-right: 1.5rem !important;
    }
}
