
@media (prefers-color-scheme: light) {
    :root {
        /*light theme*/
        --background-color: white;
        --foreground-color: black;
        --link-color: blue;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /*light theme*/
        --background-color: #2d2d2d;
        --foreground-color: white;
        --link-color: lightblue;
    }
}

div, input, p, h1, h2 {
    background-color: var(--background-color);
    border-color: var(--foreground-color);
    color: var(--foreground-color);
}

a, a:hover, a:after, a:active {
    color: var(--link-color);
}

.btn {
    background-color: var(--background-color);
    color: var(--foreground-color);
    border-color: var(--foreground-color);
}

.btn:hover {
    background-color: var(--background-color);
    color: var(--foreground-color);
    border-color: var(--foreground-color);
}
