@page "/"

<h1>Hello Guest!</h1>

Welcome to <a href="https://suadin.de/">suadin.de</a>. This website is currently a sandbox for suadin, you can find and support him over his <a href="https://github.com/suadin">GitHub account</a>. You will find on GitHub details about <a href="https://github.com/users/suadin/projects/1">tasks</a>, <a href="https://github.com/suadin/SukiG">website</a>, <a href="https://github.com/suadin/Infrastructure">infrastructure</a>. Have fun to explore :-).

<SurveyPrompt Title="How is Blazor working for you?" />
